.foater{
    // padding: 3rem 0px;
    padding-top: 2rem;
    width: 100%;
    // background-image: linear-gradient(rgb(0 0 0) 33.8%, rgb(0 0 0 / 88%) 85.5%);
background-color: #111;
    .items{
        color: white;
        display: grid;
        grid-template-columns: repeat(3,minmax(0,1fr));
        justify-items: center;
        margin-bottom: 2rem;
    }
    h2{
        padding-bottom: 1rem;
        text-align: center;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
}